# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=ds1lqhvc3
CLOUDINARY_UPLOAD_PRESET=receipt_uploads
CLOUDINARY_RAW_UPLOAD_PRESET=receipt_uploads

# API Configuration
API_BASE_URL=https://manage-receipt-backend-1.onrender.com
